In [2]:
import pandas as pd
import numpy as np

In [5]:
sub_saharan_Africa_economy_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Sub-Saharan Africa Economic Data/AFRREO_04-29-2022 19-12-45-09_timeSeries.csv')
sub_saharan_Africa_economy_df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,Attribute,2004,2005,2006,2007,2008,...,2016,2017,2018,2019,2020,2021,2022,2023,Base Year,Unnamed: 26
0,Liberia,668,"Gross Domestic Product, Real, Percent change, ...",NGDP_R_PC_PP_PT,Value,3.971099,5.856214,8.480018,13.102969,6.105134,...,-1.630070,2.468629,1.241918,-2.515768,-2.966884,4.217417,4.546422,5.518998,NaN,NaN
1,Lesotho,666,"Gross Domestic Product, Real, Percent change, ...",NGDP_R_PC_PP_PT,Value,2.397611,3.111950,4.417355,4.992812,3.759894,...,1.884993,-2.704771,-0.279678,0.000286,-5.982275,2.111634,3.069779,1.593664,NaN,NaN

In [6]:
sub_saharan_Africa_economy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1653 non-null   object
 1   Country Code    1653 non-null   int64
 2   Indicator Name  1653 non-null   object
 3   Indicator Code  1653 non-null   object
 4   Attribute       1653 non-null   object
 5   2004            1618 non-null   float64
 6   2005            1628 non-null   float64
 7   2006            1628 non-null   float64
 8   2007            1628 non-null   float64
 9   2008            1628 non-null   float64
 10  2009            1629 non-null   float64
 11  2010            1629 non-null   float64
 12  2011            1645 non-null   float64
 13  2012            1651 non-null   float64
 14  2013            1651 non-null   float64
 15  2014            1651 non-null   float64
 16  2015            1652 non-null   float64
 17  2016            1653 non-null   float64
 18  2017            1653 non-null   float64
 19  2018            1653 non-null   float64
 20  2019            1653 non-null   float64
 21  2020            1653 non-null   float64
 22  2021            1653 non-null   float64
 23  2022            1399 non-null   float64
 24  2023            1399 non-null   float64
 25  Base Year       0 non-null      float64
 26  Unnamed: 26     0 non-null      float64
dtypes: float64(22), int64(1), object(4)
memory usage: 348.8+ KB

In [7]:
sub_saharan_Africa_economy_df.describe()

,Country Code,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2016,2017,2018,2019,2020,2021,2022,2023,Base Year,Unnamed: 26
count,1653.000000,1618.000000,1628.000000,1628.000000,1628.000000,1628.000000,1629.000000,1629.000000,1645.000000,1651.000000,...,1653.000000,1653.000000,1653.000000,1653.000000,1653.000000,1653.000000,1399.000000,1399.000000,0.0,0.0
mean,674.232305,26.653102,25.749007,25.940379,25.064559,25.778014,23.439127,23.367415,23.655589,23.119919,...,22.872162,23.064400,23.324815,24.255031,24.884577,24.803169,19.868284,19.239005,NaN,NaN
std,76.902437,42.652977,39.590846,38.194888,36.145810,35.539075,35.552129,32.899900,32.818714,32.987508,...,38.265310,35.974036,34.939403,37.840052,44.460779,36.605090,32.819489,32.185829,NaN,NaN
min,199.000000,-64.072263,-73.769307,-39.028133,-72.729363,-47.953228,-49.092658,-138.365681,-65.030950,-54.054809,...,-174.609337,-189.335715,-37.774115,-37.471875,-73.578931,-36.630024,-45.168288,-44.658968,NaN,NaN
25%,638.000000,2.752470,3.504702,3.968726,3.646096,4.134944,2.018352,3.394899,3.483577,3.185130,...,0.680464,1.253548,1.905922,1.755759,-0.224550,2.719282,2.200774,2.215785,NaN,NaN
50%,676.000000,12.843496,12.700192,13.022966,13.250934,13.952617,12.370703,13.554478,13.852941,13.320199,...,12.316973,12.598013,12.391085,13.306213,13.782773,13.591784,10.915008,9.096391,NaN,NaN
75%,718.000000,30.625592,30.892085,30.029867,30.196127,32.201483,28.342780,28.756323,28.828309,28.521955,...,28.395320,28.600921,29.027476,29.619252,30.428280,31.204288,27.460496,27.059415,NaN,NaN
max,776.000000,543.398738,488.458169,450.954848,366.805393,259.666648,393.585691,198.364735,160.763951,154.605733,...,479.734936,393.969989,416.117414,521.149880,571.846563,359.985403,362.912358,370.614600,NaN,NaN